
@keyframes fadeInStatic {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(5vmin);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-5vmin);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(5vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-2.5vmin);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --bright: whitesmoke;
    --royalPurple: rgba(126, 82, 160, .9);
    --light: rgba(248, 249, 250, 1);
    --darknessTranslucent: rgba(71, 74, 72, .75);
    --darkness: rgba(71, 74, 72);
    --contactButtonsTranslucent: rgba(109, 214, 218, .5);
    --aboutMeTranslucent: rgba(149, 217, 218, .8);
    --portfolioCardTranslucent: rgba(155, 167, 192, .75);
    --descriptionCardTranslucent: rgba(233, 236, 239, .75);
    --imageBackgroundTranslucent: rgba(206, 212, 218, .75);

}


body {
    font-size: 1vw;
    text-wrap: balance;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkness);
    a {
        cursor: pointer;
        text-decoration: none;
    }

    img {
        width: 100%;
        cursor: pointer;
        border: solid 5px rgb(250, 216, 214);
    }
}

.Portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(70deg, rgb(250, 216, 214), rgb(46, 40, 42))
}

.bio {
    margin-top: .5rem;
    font-size: 1.5rem;
    text-align: center;
}

.headerText {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.ProDetails {
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 3rem;
    background-color: white;
    border: solid 4px var(--darkness);
    box-shadow: 2px 2px 2px var(--darknessTranslucent);
    width: 50vmin;

    opacity: 0;
    transform: translateX(-5vmin);
    animation: fadeInFromRight 2s ease forwards;
}

.portfolioSamples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
    opacity: 0;
    transform: translateY(5vmin);
    animation: fadeInFromBottom 5s ease forwards;
}

.AboutMe {
    border: solid 1rem rgba(250, 216, 214, .5);
    display: flex;
    margin: .5rem;
    padding: .5rem;
    background: linear-gradient(white, rgba(171, 127, 242, 0.2));
    font-size: 1.25rem;
    width: 100vmin;
    align-items: center;
    justify-content: space-around;
    border-radius: 2vmin;
    opacity: 0;
    transform: translateY(-2.5vmin);
    animation: fadeInFromTop 2s ease forwards;

}

.ProPicContainer {
    display: flex;
    margin: 1rem;
}

.ProPic {
    width: 40vmin;
    border-radius: 50%;
    opacity: 0;
    animation: fadeInStatic 4s ease forwards;
}

.displayCard {
    display: flex;
    flex-direction: column;
}

.portDescriptionCard {
    border-radius: 2vmin;
    border: solid 2px var(--light);
    background-color: rgba(46, 40, 42, .3);
    margin: .5rem;
    padding: .5rem;
    width: 50%;
    font-size: 1rem;
    box-shadow: 1px 3px 3px rgb(46, 40, 42);
    opacity: 0;
    transform: translateX(-5vmin);
    animation: fadeInFromLeft 8s ease forwards;

}


.portfolioCard {
    display: flex;
    flex-direction: column;
    border-radius: 2vmin;
    background: linear-gradient(white, rgba(171, 127, 242, 0.5));
    border: solid 2px var(--light);
    margin: 1rem;
    padding: 1rem;
    width: 60%;
    box-shadow: 1px 3px 3px rgb(250, 216, 214);
}

.portfolioCard:hover {
    background: linear-gradient(rgba(171, 127, 242, 0.5), white);
}

.portPiece {
    justify-content: center;
    align-items: center;
    display: flex;
}

.portPicContainer {
    z-index: 1;
}

.picFile {
    width: 35vmin;
    border: 5vmin;
    margin: 1rem;
    border: solid 2px var(--darkness);
    background-color: var(--light);
    padding: 1rem;
    border-radius: 10px 200px / 100px;
    box-shadow: 2px 2px 2px var(--darknessTranslucent);
    z-index: 2;
    opacity: 0;
    animation: fadeInStatic 4s ease forwards;
}

.picFile:hover {
    box-shadow: 3px 5px 5px var(--darknessTranslucent);
    scale: 125%;
    transition: 1s;
}

.ContactsBar {
    border-radius: 2vmin;
    display: flex;
    margin: 1rem;
    padding-right: .5rem;
    background-color: var(--darknessTranslucent);
    border: solid 3px black;
    justify-content: space-around;
    align-items: center;
}

.contactIcon {
    width: 4vmin;
    padding: .25rem;
}

.contactPic:hover {
    box-shadow: 4px 8px 8px var(--darknessTranslucent);
    scale: 125%;
    transition: 1s;
}

.contactPic {
    box-shadow: 1px 2px 2px var(--darknessTranslucent);
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
}

button {
    text-align: center;
    box-shadow: 1px 2px 2px var(--darknessTranslucent);
    padding: .5rem;
    margin: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4vmin;
}

button:hover {
    box-shadow: 4px 8px 8px var(--darknessTranslucent);
    cursor: pointer;
    scale: 150%;
    transition: 1s;
    background-color: white;
}

.buttonLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: .5rem;
    opacity: 0;
    animation: fadeInStatic 6s ease forwards;
}

.portTitleCard {
    background-color: white;
    border: solid 2px var(--royalPurple);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2vmin;
    box-shadow: 2px 2px 2px var(--darknessTranslucent);
    border: solid 2px var(--darkness);
}

.portTitle {
    font-size: 1.5rem;
    text-align: center;
    color: var(--darkness);
}

.portTitle:hover {
    color: var(--royalPurple);
    cursor: pointer;
}

.descriptionList {
    background-color: var(--light);
    padding: 1rem;
    margin: 1rem;
    text-align: space-around;
    border-radius: 2vmin;
    border: solid 3px var(--darkness);
    box-shadow: 6px 3px 3px var(--darknessTranslucent);
}

.descriptionList:hover {
    background-color: white;
}

.portDescriptionText {
    padding: 1rem;
    text-align: right;
    list-style: none;
    border-top: solid 2px var(--royalPurple);
    border-bottom: solid 2px var(--darkness);
}
